@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap';
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* =============================================================== */
/*    47.  /  COL - 3  /  Paskirsime tekstui 50 procentu           */
/* =============================================================== */
/* =============================================================== */
/*    47.  /  COL - 3  /  Paskirsime tekstui 50 procentu           */
/* =============================================================== */
/* =============================================================== */
/*    45.  /  COL - 3  / Kadangi yra GRID, padalinsime likusia     */
/*          erdve po lygias dalis                                  */
/* =============================================================== */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* =============================================================== */
/*    28.     Margin'a, teksto apacioje, panaikina                 */
/* =============================================================== */
/* =============================================================== */
/*    42.               /  FOOTER  /                               */
/* =============================================================== */
/* =============================================================== */
/*    29.               /   P   /    60 REM                        */
/* =============================================================== */
/* =============================================================== */
/*    20.    @ MEDIA QUERIES                        */
/* =============================================================== */
/* =============================================================== */
/*    30.  /   P   /    60 REM  /  mažesni mygtukai / sekcija 4:   */
/* =============================================================== */
/* =============================================================== */
/*    15.    BUTTON  -  ACCENT / mygtuko apipavidalinimas          */
/* =============================================================== */
/* =============================================================== */
/*    16.    BUTTON  -  ACCENT : HOVER / FOCUS                     */
/* =============================================================== */
/* =============================================================== */
/*    31.    BUTTON  -  DARK /     Zalioji dalis                   */
/* =============================================================== */
/* =============================================================== */
/*    32.    BUTTON  -  DARK : HOVER / FOCUS  / Zalioji dalis      */
/* =============================================================== */
/* =============================================================== */
/*  9.            NAV A : HOVER ir  NAV A : FOCUS                  */
/* =============================================================== */
/* =============================================================== */
/*    18.    @ MEDIA QUERIES                        */
/* =============================================================== */
/* padarysime, kad didinant ekrana, LOGO atsidurtu kaireje puseje */
/*  o, NAV menu linkai : desineje puseje */
/* =============================================================== */
/*  8. tarpine     HOME  -  HERO    ( juosta su uzrasu viduje )    */
/* =============================================================== */
/* =============================================================== */
/*    19.    @ MEDIA QUERIES                        */
/* =============================================================== */
/* =============================================================== */
/*    24.  HERO - HOME  H 1   /  ( mobiliam )                      */
/* =============================================================== */
/* =============================================================== */
/*    25.    H 1   /  ( mobiliam )     /  25 REM  /   960 px ?     */
/* =============================================================== */
/* =============================================================== */
/*    28.    H 1   /  ( mobiliam ) /   60 REM  / apie 1000 px      */
/* =============================================================== */
/* =============================================================== */
/*    27.  HERO - HOME  /  ( mobiliam ) langelis teksto su remeliu */
/* =============================================================== */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* ================================================================== */
/*    30.               /  PORTFOLIO  /                               */
/* ================================================================== */
/* ================================================================== */
/*    31.               /  PORTFOLIO  /                               */
/* ================================================================== */
/* ================================================================== */
/*    32.               /  PORTFOLIO  /                               */
/* ================================================================== */
/* ================================================================== */
/*    33.  /  PORTFOLIO  /  Nuotrauku rinkinys: vidinis btn langas    */
/* ================================================================== */
/* ================================================================== */
/*    34.               /  PORTFOLIO  /                               */
/* ================================================================== */
/* ================================================================== */
/*    35.   /  MEDIA  30 REM  /  Sumaziname telefonui:                */
/* ================================================================== */
/* ================================================================== */
/*    36.               /  PORTFOLIO  /   MEDIA  60 REM               */
/* ================================================================== */
/* ================================================================== */
/*    37.  /  PORTFOLIO  /  Nustatysime judejima zemyn su ( Y )       */
/* ================================================================== */
/* ================================================================== */
/*    38.               /  PORTFOLIO  /                               */
/* ================================================================== */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center; }

/* =============================================================== */
/*  10. IMG / sumazina visas nuotraukas, ir telpa mob. tel.ekrane  */
/* =============================================================== */
img {
  max-width: 100%;
  height: auto; }

/* =============================================================== */
/*    12.   CONTAINER,  bet tik del MOBILE nustatymu               */
/* =============================================================== */
.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto; }

/* ================================================================== */
/*    40.                  /  CLEARFIX  /                             */
/* ================================================================== */
.clearfix::after {
  content: '';
  display: block;
  clear: both; }

section::after {
  content: '';
  display: block;
  clear: both; }

/* ================================================================== */
/*    40.                 /  FOOTER  /                                */
/* ================================================================== */
footer {
  background: #232323;
  color: #fff;
  text-align: left;
  padding: 5em 0; }
  footer::after {
    content: '';
    display: block;
    clear: both; }

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* =============================================================== */
/*    43. /  COLUMN SYSTEM  / Naudosime atributa []                */
/*         visos klases, kurios bus, gaus si aprasyma              */
/*           su LEFT surykiuosime i viena eilute                   */
/* =============================================================== */
[class^='col-'] {
  width: 100%;
  margin-top: 1em; }
  [class^='col-']:first-child {
    margin-top: 0; }

.col-1 {
  width: 33.333334%;
  float: left; }

/* =============================================================== */
/*    22.         /  Typograthy /    H 1   ( telefonui )           */
/* =============================================================== */
h1 {
  font-weight: 300;
  font-size: 1.8rem;
  margin-top: 0; }

/* =============================================================== */
/*    27.     /  P  /   ir  /  P : LAST - OF - TYPE  /             */
/* =============================================================== */
p {
  margin-top: 0;
  line-height: 1.5; }
  p:last-of-type {
    margin-bottom: 0; }

/* =============================================================== */
/*    11.  Typograthy / sekcija : antros dalies pavadinimo dalis   */
/* =============================================================== */
.title {
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
  /* =============================================================== */
  /*    13.            Typograthy / SPAN sekcija                     */
  /* =============================================================== */ }
  .title span {
    font-weight: 300;
    display: block;
    font-size: 0.9em; }

.title-cta {
  margin: 0 0 0.5em; }

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* =============================================================== */
/*    14.    BUTTON  /  Virsutineje dalyje, po NAV menu linku      */
/* =============================================================== */
.button {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 0.5em 1.75em; }

.button-small {
  font-size: 0.7rem;
  font-weight: 700; }

.button-accent {
  color: #00ff6c;
  border-color: #00ff6c;
  font-weight: 700; }
  .button-accent:hover {
    background: #00ff6c;
    color: #232323; }
  .button-accent:focus {
    background: #00ff6c;
    color: #232323; }

.button-dark {
  color: #232323;
  border-color: #232323;
  /* =============================================================== */
  /*    ?.                 /   PARALLAX  /                           */
  /* =============================================================== */ }
  .button-dark:hover {
    background: #232323;
    color: #00ff6c; }
  .button-dark:focus {
    background: #232323;
    color: #00ff6c; }

.parallax--bg {
  transition: initial; }

.parallax--box {
  transition: initial; }

/* =============================================================== */
/*    4.                     HEADER                                */
/* =============================================================== */
header {
  position: absolute;
  margin: 1em;
  left: 0;
  right: 0; }

/* =============================================================== */
/*     .                       NAV                                 */
/* =============================================================== */
nav {
  /* =============================================================== */
  /*     5.                    NAV UL                                */
  /* =============================================================== */
  /* =============================================================== */
  /*       6.                   NAV LI                               */
  /* =============================================================== */
  /* =============================================================== */
  /*       7.                   NAV  A  ( linkai  )                  */
  /* =============================================================== */ }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    display: inline-block;
    margin: 1em; }
  nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.5em;
    background: #016e2d;
    color: #fff; }
    nav a:hover {
      color: #c1dac4; }
    nav a:focus {
      color: #c1dac4; }

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* =============================================================== */
/*    23.  HERO - HOME  /  ( mobiliam ) langelis teksto su remeliu */
/* =============================================================== */
.home-hero {
  background: url("img/lapas.jpg");
  background-size: cover;
  background-position: center;
  padding: 10em 0;
  color: #fff; }

.home-about-textbox {
  background-color: #232323;
  color: #fff;
  padding: 4em;
  width: 106%;
  margin-left: -2.5vw;
  outline: 2px solid #00ff6c;
  outline-offset: -2.5em;
  position: relative; }
  .home-about-textbox h1 {
    color: #00ff6c;
    position: absolute;
    top: 0.75em;
    background: #232323;
    left: 50%;
    padding: 0 0.25em;
    transform: translateX(-50%); }

.portfolio {
  margin: 3em 0 0; }

.port-item {
  margin: 0;
  position: relative; }
  .port-item img {
    display: block; }

.port-desc {
  position: absolute;
  z-index: 100;
  bottom: 3em;
  left: 3em;
  right: 3em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 2em; }
  .port-desc p {
    margin: 1em; }

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* ================================================================== */
/*    39.      /  CTA  /   Zalioji dalis                              */
/* ================================================================== */
.cta {
  background-color: #00ff6c;
  padding: 5em 0; }

@media (min-width: 40rem) {
  [class^='col-'] {
    float: left;
    padding: 0 0.5em;
    margin-top: 0; }
    [class^='col-']:first-child {
      padding-left: 0; }
    [class^='col-']:last-child {
      padding-right: 0; }
  /* =============================================================== */
  /*    44.  /  COL - 3  / Paskirsime tekstui 50 procentu  GRID      */
  /* =============================================================== */
  /* =============================================================== */
  /*    46.  /  COL - 3  /  Paskirsime tekstui 50 procentu           */
  /*    kadangi bus CUDO klase, tai po [] rasysime vienguba dvitaski */
  /* =============================================================== */
  .col-3 {
    width: 50%; }
  .col-1 {
    width: 16.6666%; } }

/* =============================================================== */
/*     17.    @ MEDIA QUERIES   /  kazkur ( 888 px  )              */
/* =============================================================== */
@media (min-width: 60rem) {
  p {
    font-size: 1.2rem;
    line-height: 1.6; }
  .title {
    font-size: 3.5rem; }
  .button {
    font-size: 1.5rem; }
  .logo {
    float: left; }
  nav {
    float: right; }
  .home-hero {
    height: 100vh;
    padding-top: 35vh; }
  /* =============================================================== */
  /*    25.    H 1   /  ( mobiliam ) /   60 REM  / apie 1000 px      */
  /* =============================================================== */
  h1 {
    font-size: 2.5rem; }
  /* =============================================================== */
  /*    26.  HOME - ABOUT - TEXTBOX  H 1   /  ( mobiliam )  960 px ? */
  /* =============================================================== */
  .home-about {
    background: url("../img/juokas.jpg");
    padding: 1em;
    background-repeat: no-repeat;
    padding-bottom: 10em; }
  .home-about-textbox {
    width: 60%;
    margin-left: -2.5%;
    padding: 7em;
    top: -5em;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3);
    /* =============================================================== */
    /*    26.  HOME - ABOUT - TEXTBOX  H 1   /  ( mobiliam )           */
    /* =============================================================== */ }
    .home-about-textbox h1 {
      top: 0.3rem;
      left: 3em;
      transform: translateX(0); }
  .port-item {
    width: 33.3333334%;
    overflow: hidden; }
    .port-item:hover .port-desc {
      transform: translateY(0%); }
  .port-desc {
    transform: translateY(150%); } }

@media (min-width: 25rem) {
  h1 {
    font-size: 2rem; }
  .home-about-textbox {
    padding: 5.5em; }
    .home-about-textbox h1 {
      top: 1.1rem;
      padding: 0 0.325em; } }

@media (min-width: 37rem) {
  .port-item {
    width: 50%;
    float: left; } }
